<div class="new-user-inputs">
  <div class="new-user-details">
    <span><b>User Name: </b></span>
    <span>
      <input type="text" name="newName" id="newName" placeholder="name" [(ngModel)]="newName">
    </span>
  </div>
  <div class="new-user-details">
    <span><b>User Email Address: </b></span>
    <span>
      <input type="text" name="newEmail" id="newEmail" placeholder="abc@xyz.com" [(ngModel)]="newEmail">
    </span>
  </div>
  <div class="new-user-details">
    <span><b>User Address: </b></span>
    <span>
      <input type="text" name="newAddress" id="newAddress" placeholder="City, Street Country Postal"
        [(ngModel)]="newAddress">
    </span>
  </div>
  <span>
    <button class="btn-primary" (click)="addUser()">Add</button>
  </span>
  <span>
    <button class="btn-info" (click)="getAllUsers()">Get All Users</button>
    <span *ngIf="loading"><img class="loading-gif" src="assets/loading.gif" alt="loading..."></span>
  </span>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">ADDRESS</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="data-row" scope="row" *ngFor="let user of users; let i = index">

      <ng-container *ngIf="!editMode[i]">
        <td>{{user.Name}}</td>
        <td>{{user.Email}}</td>
        <td>{{user.Address}}</td>
      </ng-container>

      <ng-container *ngIf="editMode[i]">
        <td><input type="text" name="name" [(ngModel)]="userName"></td>
        <td><input type="text" name="email" [(ngModel)]="userEmail"></td>
        <td><input type="text" name="address" [(ngModel)]="userAddress"></td>
      </ng-container>

      <td>
        <button class="row-buttons btn-primary" (click)='toggelEditMode(i, editMode[i])'>
          {{ editMode[i] ? 'Save' : 'Edit' }}
        </button>
      </td>
      <td>
        <button class="row-buttons btn-danger" (click)="deleteRow(i)">Delete</button>
      </td>

    </tr>
  </tbody>
</table>

<div class="dialog-container" *ngIf="showDialog">
  <div class="dialog">
    {{dialogMessage}}
    <button (click)="closeButton()" class="close-button">x</button>
  </div>
</div>


